#--------------------------------------------------
echo "Connector Configuration"
#--------------------------------------------------
    port 1/1/c1
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
#--------------------------------------------------
echo "Port Configuration"
#--------------------------------------------------
    port 1/1/c1/1
        description "AGG-MEMBER | type:EDGE-P2P | rhost:R1-XRD | rport:BE402 | lagg:288 | ragg:BE402"
        ethernet
            mtu 9192
        exit
        no shutdown
#--------------------------------------------------
echo "LAG Configuration"
#--------------------------------------------------
    lag 288
        description "AGG|L3|type:EDGE-P2P|rhost:R1-XRD|rport:BE402"
        port 1/1/c1/1
        lacp active administrative-key 288
        bfd
            family ipv4
                bfd-on-distributing-only
                local-ip-address 10.0.12.2
                receive-interval 300
                remote-ip-address 10.0.12.1
                transmit-interval 300
                no shutdown
            exit
        exit
        no shutdown
    exit
#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router Base
        interface "lag288"
            address 10.0.12.2/30
            description "AGG|LAG|type:EDGE-P2P|rhost:R1-XRD|rport:BE402"
            port lag-288
            no shutdown
        exit                          
        interface "system"
            no shutdown
        exit
    exit

  
